table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.form-table th, table.form-table td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.form-table th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	padding: 15px 5px;
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}

input.errortext {
	border: 1px solid red;	
}

div.error_text { 
	color: red;
	text-align: center;
    font-size: 12px;    
}

#header_callback .submit_save {  
    z-index: 1;
    cursor: pointer;    
    position: absolute;   
    width: 80px;
    height: 26px;
}

#header_callback input[type="submit"] {  
    z-index: 0;
    position: relative;
}